@font-face {
    font-family: pop;
    src: url(/fonts/Oscine_Trial_Bd.ttf);
}
a{
    text-decoration: none;
    color: black;
}
*{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body{
    background-image: url('./images/corwin-prescott-4.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: auto;
}

nav{
    margin:auto;
}
ul{
    display:flex;
    justify-content: space-evenly;
    text-transform: capitalize;
    font-weight: 500;

}
div{
    margin:15vh 50vh;
    justify-content:center;
text-align: center;
    backdrop-filter: blur(20px);
 text-transform: capitalize;
    box-shadow: 0px 8px 32px 0px  whitesmoke;
    font-weight: 500;
    color:#020202;
    border-radius: 5px;
}
label{
    
   text-align:calc(50-80);
}

.i{
    border-radius: 5px;
    width: 50vh;
    border-width: 0px;
    border-style: none;
    padding: 1vh;
}
li:hover{
    text-decoration: underline;
    color:whitesmoke ;
    cursor: pointer;
    transition: 0.5s;
}
h1{
    text-align: center;
    user-select: none;
}
.btn{
    padding: 5px;
    font-weight: 500;
    width: 70px;
  

}
.btn:hover{
    cursor: pointer;
    background-image: linear-gradient( #4d4d4d, #3c3c3c,#1e1e1e);
    transition: 1.0s;
    color: whitesmoke;
}
